<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="sqli_donation" id="sqli_donation">
			<module before="Magento_Backend" name="Sqli_Donation"/>
		</route>
	</router>
</config>
